<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
    <a onclick="appModel.patches()" href="#">test</a>
</form>
<script src="../js/jquery/jquery.js"></script>
<script src="../js/bootstrap/js/bootstrap.js"></script>
<script src="../js/knockout/knockout.js"></script>
<script src="../js/sockjs/sockjs.js"></script>
<script src="../js/stomp/lib/stomp.min.js"></script>
<script src="../js/portfolio.js"></script>

<script type="text/javascript">
    var appModel;
    (function () {
        var socket = new SockJS('/stomp-socketJs');
        var stompClient = Stomp.over(socket);

        appModel = new ApplicationModel(stompClient);
        ko.applyBindings(appModel);

        appModel.connect();
        appModel.pushNotification("Trade results take a 2-3 second simulated delay. Notifications will appear.");
    })();
</script>

</body>
</html>